body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 9px;
  background-color: black;
}

nav * {
  color: aqua;
}

nav a {
  margin-top: 24px;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: aqua;
  padding: 9px;
}